################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEFCore/obj
/DbOperationsWithEFCore/Properties
/.vs/DbOperationsWithEFCore/FileContentIndex
