################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEFCore/obj
/DbOperationsWithEFCore/Properties
/.vs/DbOperationsWithEFCore/FileContentIndex
/DbOperationsWithEFCore/bin/Debug/net8.0
/.vs/DbOperationsWithEFCore/v17/.suo
/.vs/DbOperationsWithEFCore/v17/DocumentLayout.json
